body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px; }

#main {
  display: flex; }

#side_bar {
  border-right: 1px solid grey;
  min-width: 300px;
  width: 25%;
  position: absolute;
  top: 0;
  bottom: 0; }
  #side_bar .btn {
    margin-bottom: 20px; }
  #side_bar p {
    height: 50px;
    width: 100%;
    background: #ccc;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; }
  #side_bar img {
    height: 150px;
    width: 150px;
    padding: 10px; }
  #side_bar .panel {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; }
    #side_bar .panel.ui-draggable-dragging {
      background-color: #ccc;
      color: white; }

/*
.addRow,.addColumn,.addObject{
	margin:20px;
	display: block;
	&:hover{
		cursor: pointer;
		color:red;
		text-decoration: underline;
	}
}
*/
.addRow, .addColumn, .addModule {
  z-index: 999; }
  .addRow .panel, .addColumn .panel, .addModule .panel {
    margin: 20px; }
  .addRow .addText .textArea, .addColumn .addText .textArea, .addModule .addText .textArea {
    resize: none;
    border: none;
    width: 30px;
    height: 25px;
    cursor: pointer; }

#template {
  position: absolute;
  left: 300px;
  width: 600px;
  text-align: center;
  right: 0;
  margin: auto;
  height: 100%;
  bottom: 0; }
  #template .panel {
    margin: 0; }
  #template .wrapper .initialRow {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center; }
  #template .wrapper .ui-droppable-active {
    border: 1px dashed red !important; }
  #template .wrapper .initialRow:first-of-type {
    border: 1px dashed #ccc; }
    #template .wrapper .initialRow:first-of-type:before {
      display: none; }
  #template .row.initialRow.ui-droppable-active {
    border: none; }
  #template .row, #template .initialRow {
    display: flex;
    border: 1px dashed #ccc;
    margin-top: 10px;
    min-height: 100px;
    margin-bottom: 10px; }
    #template .row.ui-droppable-active, #template .initialRow.ui-droppable-active {
      border: 1px dashed red; }
    #template .row.ui-droppable-hover, #template .initialRow.ui-droppable-hover {
      background: #ccc; }
  #template .columns {
    display: flex;
    flex: 1;
    border: 1px solid #ccc;
    align-items: center;
    justify-content: center; }
    #template .columns .addText, #template .columns .addImage {
      border: none; }
  #template.ui-droppable-active .initialRow {
    border: 1px dashed red; }
    #template.ui-droppable-active .initialRow:before {
      content: "+";
      display: flex;
      align-items: center;
      margin: 0 auto; }
  #template.ui-droppable-hover .initialRow {
    background: #ccc; }
  #template .image_area {
    width: 100%;
    margin: 10px; }
  #template #textbox {
    width: 100%; }
  #template .submit_container {
    text-align: center; }
    #template .submit_container input {
      background: #3D7212;
      width: 100px;
      color: white; }
      #template .submit_container input:focus {
        outline-color: none; }
  #template .deleteRow {
    cursor: pointer;
    position: absolute;
    right: -35px;
    border: 1px solid black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 17px;
    background-color: #ddd; }
