body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px; }

#main {
  display: flex; }

#side_bar {
  border-right: 1px solid grey;
  min-width: 300px;
  width: 25%;
  position: absolute;
  top: 0;
  bottom: 0; }
  #side_bar .btn {
    margin-bottom: 20px; }
  #side_bar p {
    height: 50px;
    width: 100%;
    background: #ccc;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; }
  #side_bar img {
    height: 150px;
    width: 150px;
    padding: 10px; }
  #side_bar .panel {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; }
    #side_bar .panel.ui-draggable-dragging {
      background-color: #ccc;
      color: white; }

/*
.addRow,.addColumn,.addObject{
	margin:20px;
	display: block;
	&:hover{
		cursor: pointer;
		color:red;
		text-decoration: underline;
	}
}
*/
.addRow, .addColumn {
  z-index: 999; }
  .addRow .panel, .addColumn .panel {
    margin: 20px; }

#template {
  position: absolute;
  left: 300px;
  width: 600px;
  text-align: center;
  right: 0;
  margin: auto; }
  #template.ui-droppable-active .initialRow {
    border: 1px dashed red; }
  #template .row {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    margin-top: 10px;
    min-height: 100px;
    margin-bottom: 10px; }
    #template .row.ui-droppable-active {
      border: 1px dashed red; }
  #template .column {
    border: 1px solid #ccc;
    min-height: 200px; }
  #template .image_area {
    width: 100%;
    margin: 10px; }
  #template #textbox {
    width: 100%; }
  #template .submit_container {
    text-align: center; }
    #template .submit_container input {
      background: #3D7212;
      width: 100px;
      color: white; }
      #template .submit_container input:focus {
        outline-color: none; }
  #template .row {
    cursor: pointer; }
    #template .row.active {
      border: 1px solid red; }
  #template .column.active {
    border: 5px dashed #ccc; }
  #template .deleteRow {
    cursor: pointer;
    position: absolute;
    right: -35px;
    border: 1px solid black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 17px;
    background-color: #ddd; }
