body{
	margin:0;
	padding: 0;
	height: 100%;
	font-size: 16px;
}

#main{
	display: flex;
}

#side_bar{
	border-right: 1px solid grey;
    min-width: 300px;
    width: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    .btn{
    	margin-bottom: 20px;
    }
	p{
		height:50px;
		width: 100%;
		background: #ccc;
		color:red;
		display: flex;
		align-items: center;
		justify-content: center;
		margin:0;
	}
	img{
		height:150px;
  		width:150px;
  		padding:10px;
	}
	.panel{
		width: 100px;
	    height: 50px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    margin:20px;
		&.ui-draggable-dragging{
			background-color:#ccc;
			color:white;
		}
	}
	.componentsPanel{
		.addRow,.addColumn,.addModule{
			z-index:999;
			.addText {
				.textArea{
					resize: none;
					border: none;
			    	width: 30px;
			    	height:25px;
			    	cursor:pointer;
			    }
			}
		}
	}
	.settingsPanel{
		.deleteSelection{
			display:none;
		}
	}
}







