
#template .row{
	border: 1px solid;
    min-height: 200px;
    margin-bottom: 10px;
}
#template .column{
	border: 1px solid #ccc;
    min-height: 200px;
}

#template{
	position: relative;
	left: 31%;
	width: 60%;
	text-align: center;
	.image_area{
		width: 100%;
		margin:10px;
	}

	#textbox{
		width: 100%;
	}

	.submit_container{
		text-align: center;
		input{
			background: #3D7212;
			width: 100px;
			color:white;
			&:focus{
				outline-color: none;
			}
		}
	}
	.row{
		cursor: pointer;
		&.active{
			border:1px solid red;
		}
	}
	.column.active{
		border:1px solid blue;
	}
	.deleteRow{
		cursor: pointer;
		position: absolute;
	    right: -35px;
	    border: 1px solid black;
	    border-radius: 50%;
	    height: 20px;
	    width: 20px;
	    line-height: 17px;
	    background-color: #ddd;
	}

}